.google-logo {
  display: block;
  width: 200px;
  margin-left: 130px;
  margin-bottom: 10px;
  margin-top: 24px;
}
.search-box {
  display: block;
  width: 400px;
  border: none;
  border-radius: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0 2px 8px rgba(197, 197, 197, 0.744);
  margin-top: 20px;
  margin-left: 20px;
}
