body {
  height: 3000px;
}

.container {
  display: inline-block;
  position: relative;
}

img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.discount-mark {
  font-family: Arial;
  position: absolute;
  right: 0;
  top: 8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: black;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
}
