.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  height: 60px;
  align-items: center;
}

.item {
  background-color: lightcoral;
}
