body {
  height: 3000px;
}

p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 10px;
}

.right-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  background-color: green;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  height: 110px;
  width: 400px;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  border: none;
  border-radius: 8px;
}

.modal-title {
  font-weight: bold;
  font-size: 24px;
}
